<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserHandleServlet</servlet-name>
    <servlet-class>controller.UserHandleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsHandleServlet</servlet-name>
    <servlet-class>controller.GoodsHandleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShoppingHandleServlet</servlet-name>
    <servlet-class>controller.ShoppingHandleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrdersHandleServlet</servlet-name>
    <servlet-class>controller.OrdersHandleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <servlet-class>controller.ConfirmOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShopHandleServlet</servlet-name>
    <servlet-class>controller.ShopHandleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHandleServlet</servlet-name>
    <url-pattern>/servlet/UserHandleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsHandleServlet</servlet-name>
    <url-pattern>/servlet/GoodsHandleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingHandleServlet</servlet-name>
    <url-pattern>/servlet/ShoppingHandleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrdersHandleServlet</servlet-name>
    <url-pattern>/servlet/OrdersHandleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <url-pattern>/servlet/ConfirmOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopHandleServlet</servlet-name>
    <url-pattern>/servlet/ShopHandleServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>
</web-app>